.carousel {
    height:100%;
    margin: auto;
    max-height: 100vh;
    width: auto;
  }

.image{
    height:100vh;
    max-height: 100vh;
    vertical-align: middle;
    object-fit: contain;
}
.body{
  margin: 0em;
}